:root {
  --hero-content-height: 80px;
}

/* Full Image Banner Container */
body .full-image-banner-container {
  padding: 0;
}

body .full-image-banner-container .full-image-banner-wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: none;
  margin-bottom: var(--hero-content-height);
}

/* Full Image Banner */
.full-image-banner-wrapper .full-image-banner {
  display: grid;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

/* Hero Images */
.full-image-banner-wrapper .hero__image--desktop {
  display: none;
}

.full-image-banner-wrapper .hero__image {
  grid-column: 1;
  grid-row: 1;
  height: 20.125rem;
  width: 100%;
}

.full-image-banner-wrapper .hero__image p {
  margin: 0;
}

.full-image-banner-wrapper .hero__image div,
.full-image-banner-wrapper .hero__image .hero-banner-image {
  height: 100%;
}

.nsw-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-image-banner-wrapper .hero__image .hero-banner-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

/* Hero Content */
.full-image-banner-wrapper .hero__content {
  display: grid;
  gap: 1rem;
  align-self: end;
  grid-column: 1;
  grid-row: 1;
  padding: 1rem;
  z-index: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  position: absolute;
  width: 100%;
  max-width: calc(100vw - 2rem);
  transform: translateY(50%);
}

.nsw-card__title a {
  text-decoration: none;
  color: var(--nsw-text-dark);
  transition: color 0.15s ease-in-out;
}

.full-image-banner-wrapper .hero__content a {
  text-decoration: none;
}

.full-image-banner-wrapper .hero__content h4 {
  font-size: 1.8125rem;
}

/* NSW Card Base Styles */
.nsw-card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  color: var(--nsw-text-dark);
  border-radius: var(--nsw-border-radius);
}

.nsw-card__content {
  font-size: var(--nsw-font-size-sm-mobile);
  line-height: var(--nsw-line-height-sm-mobile);
  padding: 1rem 1rem 3.875rem;
  background-color: var(--nsw-white);
  border-radius: var(--nsw-border-radius);
  border: 1px solid var(--nsw-grey-03);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: background 0.15s ease-in-out, border 0.15s ease-in-out;
}

.nsw-card__title a::after {
  z-index: 100;
  content: "";
  position: absolute;
  inset: 0;
}

.nsw-card__copy {
  margin-top: 1rem;
  transition: color 0.15s ease-in-out;
}

.nsw-card__tag,
.nsw-card__date {
  font-size: var(--nsw-font-size-xs-mobile);
  line-height: var(--nsw-line-height-xs-mobile);
  transition: color 0.15s ease-in-out;
  margin-bottom: 1rem;
}

.nsw-card__tag {
  font-weight: var(--nsw-font-bold);
}

.nsw-card__tag + .nsw-card__date {
  margin-top: -0.5rem;
}

.nsw-card .nsw-material-icons {
  font-size: 1.875rem;
  color: var(--nsw-brand-dark);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  transition: color 0.15s ease-in-out;
}

.nsw-card__image {
  min-height: 12.5rem;
  height: 12.5rem;
  position: relative;
}



.nsw-card__image + .nsw-card__content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}

.nsw-card__image + .nsw-card__content::after {
  display: none;
}

/* Card Variants */
.nsw-card--highlight .nsw-card__content::before {
  content: "";
  height: 4px;
}

.nsw-card--highlight .nsw-card__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--nsw-brand-accent);
  transition: background 0.15s ease-in-out;
}

.nsw-card--highlight .nsw-card__image::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--nsw-brand-accent);
  transition: background 0.15s ease-in-out;
}

.nsw-card--light .nsw-card__content {
  background-color: var(--nsw-brand-light);
  border-color: transparent;
}

.nsw-card--light .nsw-card__content::before,
.nsw-card--light .nsw-card__content::after {
  display: none;
}

.nsw-card--light .nsw-card__image::after {
  display: none;
}

.nsw-card--dark {
  color: var(--nsw-text-light);
}

.nsw-card--dark .nsw-card__content {
  background-color: var(--nsw-brand-dark);
  border-color: transparent;
}

.nsw-card--dark .nsw-card__content::before,
.nsw-card--dark .nsw-card__content::after {
  display: none;
}

.nsw-card--dark .nsw-card__image::after {
  display: none;
}

.nsw-card--dark .nsw-card__title a,
.nsw-card--dark .nsw-material-icons,
.nsw-section--invert .nsw-card--dark .nsw-material-icons {
  color: var(--nsw-text-light);
}

/* Card Interactions */
.nsw-card:hover {
  color: var(--nsw-text-light);
}

.nsw-section--invert .nsw-card__content {
  border-color: transparent;
}

.nsw-card:hover .nsw-card__content {
  background-color: var(--nsw-brand-dark);
  border-color: transparent;
}

.nsw-card:hover .nsw-card__content::after {
  background-color: transparent;
}

.nsw-card:hover .nsw-card__image::after {
  background-color: transparent;
}

.nsw-card:hover a,
.nsw-card:hover .nsw-material-icons {
  color: var(--nsw-text-light);
}

/* Focus States */
.nsw-card:focus-within {
  outline: solid 3px var(--nsw-focus);
  outline-offset: 3px;
}

.nsw-card:focus-within a {
  text-decoration: none;
}

/* Inverted Section Overrides */
.nsw-section--invert .nsw-card:hover {
  color: var(--nsw-text-dark);
}

.nsw-section--invert .nsw-card:hover .nsw-card__content {
  background-color: var(--nsw-brand-light);
}

.nsw-section--invert .nsw-card:hover .nsw-card__content::after {
  background-color: transparent;
}



.nsw-section--invert .nsw-card:focus-within {
  outline: solid 3px var(--nsw-focus-light);
  outline-offset: 3px;
}

.nsw-section--invert .full-image-banner-wrapper .nsw-button.nsw-button--dark {
  background-color: var(--nsw-brand-dark);
  color: var(--nsw-white);
}

.nsw-section--invert .full-image-banner-wrapper .nsw-card:hover .nsw-card__content::after {
  background-color: var(--nsw-brand-accent);
}

.nsw-section--invert .nsw-card--dark:hover .nsw-card__content {
  background-color: var(--nsw-white);
}

.nsw-section--invert .full-image-banner-wrapper .nsw-card:hover .nsw-card__content {
  background-color: var(--nsw-white);
}





.nsw-section--invert .nsw-card--dark:hover .nsw-material-icons {
  color: var(--nsw-brand-dark);
}

/* Media Queries */
@media (width >= 48rem) {
  .nsw-card--horizontal {
    flex-direction: row;
    align-items: stretch;
  }

  .nsw-card--horizontal .nsw-card__content {
    flex: 1 1 50%;
    height: auto;
  }

  .nsw-card--horizontal .nsw-card__content > .nsw-material-icons {
    left: calc(50% + 1rem);
  }

  .nsw-card--horizontal .nsw-card__image {
    flex: 1 1 50%;
    position: relative;
    height: auto;
  }

  .nsw-card--horizontal .nsw-card__image + .nsw-card__content {
    border-top-right-radius: var(--nsw-border-radius);
    border-bottom-left-radius: 0;
    border-top-width: 1px;
    border-left-width: 0;
  }

  .nsw-card--horizontal.nsw-card--highlight .nsw-card__image::after {
    inset: 0 -4px 0 auto;
    width: 4px;
    height: auto;
  }
}

@media (width >= 62rem) {
  body .full-image-banner-container .full-image-banner-wrapper {
    margin-bottom: 0;
  }

  .full-image-banner-wrapper .hero__image--mobile {
    display: none;
  }

  .full-image-banner-wrapper .hero__image--desktop {
    display: block;
  }

  .full-image-banner-wrapper .hero__image {
    height: auto;
    position: relative;
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  .full-image-banner-wrapper .hero__image img {
    object-fit: cover;
  }

  .full-image-banner-wrapper .full-image-banner {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1240px) 1fr;
    min-block-size: calc(15.6rem + 25vmin);
    gap: 0;
  }

  .full-image-banner-wrapper .hero__content {
    padding: 0;
    grid-row: 1/2;
    grid-column: 2/3;
    max-width: 35.5rem;
    align-content: center;
    margin: 7.6875rem 0;
    position: relative;
    left: 45%;
    width: 50%;
    transform: none;
  }

  .nsw-card__content {
    font-size: var(--nsw-font-size-sm-desktop);
    line-height: var(--nsw-line-height-sm-desktop);
    padding: 2rem 2rem 5.875rem;
  }

  .nsw-card__title {
    font-size: var(--nsw-font-size-md-desktop);
    line-height: var(--nsw-line-height-md-desktop);
  }

  .nsw-card__tag,
  .nsw-card__date {
    font-size: var(--nsw-font-size-xs-desktop);
    line-height: var(--nsw-line-height-xs-desktop);
  }

  .nsw-card .nsw-material-icons {
    bottom: 2rem;
    left: 2rem;
  }

  .nsw-card--horizontal .nsw-card__content > .nsw-material-icons {
    left: calc(50% + 2rem);
  }

  .nsw-card--headline .nsw-card__title {
    font-size: var(--nsw-font-size-lg-desktop);
    line-height: var(--nsw-line-height-lg-desktop);
  }
}

@media (width >= 75rem) {
  .full-image-banner-wrapper .hero__content {
    left: 49%;
  }
}
